<div class="container">
  <h1 class="text-center mt-3">Stupid coaching</h1>
  <form action="answer" data-turbo="false">
      <div class='d-flex justify-content-center'>
      <input type="text" name="statement" value="<%= params[:statement] %>">
      <input type="submit" value="Ask!">
      </div>
    </div>
</div>
